@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* bendros taisyklės selektoriams */
body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 1.875rem;
  font-weight: 700;
  color: #566366;
}

p {
  color: #566366;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: justify;
  line-height: 1.6666;
}

h3 {
  font-size: 1.375rem;
  font-weight: 700;
  color: #566366;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.icon {
  color: #2ecc71;
  margin-top: 25px;
  margin-right: 30px;
  font-size: 30px;
}

/* pagrindinė nuotrauka */
.hello {
  background-image: url("../img/_20190829_162550-compressor.jpg");
  background-size: cover;
  background-position: center;
  min-height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

h1 {
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: 700;
  border-bottom: 3px solid #ffffff;
  border-top: 3px solid #ffffff;
}

.more {
  color: #ffffff;
  font-weight: 700;
  border: 1px solid #ffffff;
  padding: 20px 40px;
  text-decoration: none;
}

/* menu juosta */
header {
  background-color: #282828;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
}

header .burger {
  display: none;
  color: #ffffff;
  font-size: 2rem;
  padding: 20px;
}

header .menu {
  display: block;
}

header .menu .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .menu .main-nav .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
}

header .menu .main-nav ul {
  margin: 0;
  padding: 30px 10px 30px 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header .menu .main-nav li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  padding-left: 40px;
}

/* "home" blokas */
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #ffffff;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 2% 0 2%;
}

.home div {
  width: calc(33.3333% - 60px);
}

.home div h2 {
  margin-top: 100px;
  margin-bottom: 55px;
}

.home div p {
  margin: 0 0 100px 0;
}

/* about me blokas */
.about {
  background-color: #f2f2f1;
}

.about .about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about_container img {
  width: calc(40% - 30px);
  -o-object-fit: cover;
  object-fit: cover;
}

.about .about_container .container {
  width: 90%;
  margin: 0 auto;
  padding: 100px 10% 100px 10%;
}

.about .about_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about .about_details .about_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 50px);
}

/* skills blokas */
.skills_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 100px 2% 100px 2%;
}

.skills_container .skills_block {
  width: calc(50% - 47px);
}

.skills_container .skills_block .my_skills {
  padding-bottom: 40px;
}

.skills_container .skills_block .my_skills h2 {
  margin-top: 0;
}

.skills_container .skills_block h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.skills_container .skills_block #contact_me {
  color: #2ecc71;
  font-size: 1.125rem;
  font-weight: 700;
  border: 3px solid #2ecc71;
  padding: 20px 40px;
  text-decoration: none;
}

.skills_container .skills_block .skills_scale {
  padding-top: 13px;
}

.skills_container .skills_block .skills_scale progress[value] {
  /* Reset the default appearance: 
                WebKit/Blink (Chrome/Safari/Opera) */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 24px;
}

.skills_container .skills_block .skills_scale progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.skills_container .skills_block .skills_scale progress[value]::-webkit-progress-value {
  background-color: #2ecc71;
}

.skills_container .skills_block .skills_scale progress[value] {
  /* Reset the default appearance: FIREFOX */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Get rid of default border in Firefox. */
  border: none;
  /* Dimensions */
  width: 100%;
  height: 24px;
}

.skills_container .skills_block .skills_scale progress[value]::-moz-progress-bar {
  background-color: #2ecc71;
}

.skills_container .skills_block .skills_scale .progress-bar span {
  position: absolute;
  top: 0;
  display: block;
  color: #fff;
  text-align: left;
  padding-left: 1%;
  padding-top: 0.5%;
  font-weight: 700;
}

.skills_container .skills_block .skills_scale .progress-bar {
  display: block;
  position: relative;
  width: 100%;
}

.skills_container .skills_block .skills_scale progress[value] {
  /* Reset the default appearance: Internet Explorer */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Get rid of default border in Firefox. */
  border: none;
  /* Dimensions */
  width: 100%;
  height: 24px;
  /* For IE10 */
  color: #2ecc71;
}

/* sentiment blokas */
.sentiment,
.sentiment2 {
  background-color: #f2f1f1;
  padding: 100px 2% 100px 2%;
}

.sentiment p,
.sentiment2 p {
  text-align: center;
}

.sent-name {
  font-size: 1.5rem;
  font-style: italic;
}

.sentiment2 .owl-carousel p {
  font-size: 1.5rem;
  font-style: italic;
}

.sent-name {
  font-weight: 700;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f2f1f1;
  margin: 0 auto;
}

/* education/experience blokas */
.education_experience .new {
  border-bottom: 3px solid #f2f1f1;
}

.education_experience .container {
  padding: 100px 2% 100px 2%;
}

.education_experience .container h2 {
  margin-top: 0;
}

.education_experience .container .education,
.education_experience .container .experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.education_experience .container .education .education_paragraph,
.education_experience .container .education .experience_paragraph,
.education_experience .container .experience .education_paragraph,
.education_experience .container .experience .experience_paragraph {
  width: calc(50% - 47px);
}

.education_experience .container .education .education_paragraph .education_list h3,
.education_experience .container .education .education_paragraph .experience_list h3,
.education_experience .container .education .experience_paragraph .education_list h3,
.education_experience .container .education .experience_paragraph .experience_list h3,
.education_experience .container .experience .education_paragraph .education_list h3,
.education_experience .container .experience .education_paragraph .experience_list h3,
.education_experience .container .experience .experience_paragraph .education_list h3,
.education_experience .container .experience .experience_paragraph .experience_list h3 {
  margin-bottom: 0;
}

.education_experience .container .education .education_paragraph .education_list .education_date,
.education_experience .container .education .education_paragraph .experience_list .education_date,
.education_experience .container .education .experience_paragraph .education_list .education_date,
.education_experience .container .education .experience_paragraph .experience_list .education_date,
.education_experience .container .experience .education_paragraph .education_list .education_date,
.education_experience .container .experience .education_paragraph .experience_list .education_date,
.education_experience .container .experience .experience_paragraph .education_list .education_date,
.education_experience .container .experience .experience_paragraph .experience_list .education_date {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 40px;
}

.education_experience .container .education .education_paragraph .education_list .experience_date,
.education_experience .container .education .education_paragraph .experience_list .experience_date,
.education_experience .container .education .experience_paragraph .education_list .experience_date,
.education_experience .container .education .experience_paragraph .experience_list .experience_date,
.education_experience .container .experience .education_paragraph .education_list .experience_date,
.education_experience .container .experience .education_paragraph .experience_list .experience_date,
.education_experience .container .experience .experience_paragraph .education_list .experience_date,
.education_experience .container .experience .experience_paragraph .experience_list .experience_date {
  margin-top: 0;
  margin-bottom: 0;
}

.education_experience .container .education .education_paragraph .education_list #diploma1,
.education_experience .container .education .education_paragraph .education_list #diploma2,
.education_experience .container .education .education_paragraph .experience_list #diploma1,
.education_experience .container .education .education_paragraph .experience_list #diploma2,
.education_experience .container .education .experience_paragraph .education_list #diploma1,
.education_experience .container .education .experience_paragraph .education_list #diploma2,
.education_experience .container .education .experience_paragraph .experience_list #diploma1,
.education_experience .container .education .experience_paragraph .experience_list #diploma2,
.education_experience .container .experience .education_paragraph .education_list #diploma1,
.education_experience .container .experience .education_paragraph .education_list #diploma2,
.education_experience .container .experience .education_paragraph .experience_list #diploma1,
.education_experience .container .experience .education_paragraph .experience_list #diploma2,
.education_experience .container .experience .experience_paragraph .education_list #diploma1,
.education_experience .container .experience .experience_paragraph .education_list #diploma2,
.education_experience .container .experience .experience_paragraph .experience_list #diploma1,
.education_experience .container .experience .experience_paragraph .experience_list #diploma2 {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  border: 3px solid #2ecc71;
  background-color: #2ecc71;
  padding: 5px 10px;
  text-decoration: none;
}

.education_experience .container .education .education_paragraph .education_list .education_description,
.education_experience .container .education .education_paragraph .experience_list .education_description,
.education_experience .container .education .experience_paragraph .education_list .education_description,
.education_experience .container .education .experience_paragraph .experience_list .education_description,
.education_experience .container .experience .education_paragraph .education_list .education_description,
.education_experience .container .experience .education_paragraph .experience_list .education_description,
.education_experience .container .experience .experience_paragraph .education_list .education_description,
.education_experience .container .experience .experience_paragraph .experience_list .education_description {
  border-bottom: 3px solid #f2f1f1;
}

/* galerija */
.galery .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.galery .container .text-block {
  text-align: center;
  margin: 0 auto;
}

.galery .container .text-block h2 {
  margin: 0 auto;
}

.galery .container .text-block p {
  text-align: center;
}

.galery .container .photo-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.galery .container .photo-carousel .photo {
  width: calc(33.3333% - 20px);
  padding: 0 20px 40px 20px;
}

.galery .container .photo-carousel .photo img {
  width: 100%;
}

/* contact me blokas */
.contact-info {
  background-color: #252e30;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact-info .container h2 {
  color: #ffffff;
}

.contact-info .container .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact-info .container .contact-container .input {
  width: calc(50% - 45px);
  padding-right: 2%;
}

.contact-info .container .contact-container .input .contact .contact-link {
  text-decoration: none;
  color: #4b5456;
}

.contact-info .container .contact-container .input form input {
  width: 100%;
}

.contact-info .container .contact-container .input form .name,
.contact-info .container .contact-container .input form .email,
.contact-info .container .contact-container .input form .email-me {
  padding-bottom: 10px;
}

.contact-info .container .contact-container .input form .email,
.contact-info .container .contact-container .input form .email-me {
  padding-top: 40px;
}

.contact-info .container .contact-container .input form label {
  color: #ffffff;
}

.contact-info .container .contact-container .input form label span {
  color: #4b5456;
}

.contact-info .container .contact-container .input .form-input .name-input,
.contact-info .container .contact-container .input .form-input .email-input {
  background-color: #4b5456;
  border: 0px;
  width: 100%;
  font-size: 1.125rem;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}

.contact-info .container .contact-container .input .form-textarea .email-me-textarea {
  background-color: #4b5456;
  border: 0px;
  width: 100%;
  font-size: 1.125rem;
  color: #fff;
  font-family: roboto;
}

.contact-info .container .contact-container button {
  background: #191f21;
  color: #ffffff;
  border: 0px;
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 40px;
  padding: 20px 35px;
}

.contact-info .container .contact-container .span-link {
  display: inline-block;
  min-width: 100px;
  color: #ffffff;
}

/* social media buttons */
.social-media {
  background-color: #191f21;
  padding-top: 50px;
  padding-bottom: 50px;
}

.social-media .container {
  text-align: center;
}

.social-media .container h4 {
  color: #4b5456;
  margin: 0 auto;
  padding-bottom: 30px;
}

.social-media .container .links {
  font-size: 40px;
}

.social-media .container a {
  margin: 0 5px;
}

.social-media .container i {
  color: #566366;
}

/* Responsive design dalis */
@media all and (max-width: 1200px) {
  /*about me blokas */
  .about_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media all and (max-width: 1000px) {
  /* menu juosta */
  .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .container .menu {
    display: none;
  }
  .container .menu .main-nav {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .container .menu .main-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 0;
    text-align: start;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .container .menu .main-nav ul li a {
    padding-left: 20px;
  }
  .container .menu #logo {
    display: none;
  }
  .container .show {
    display: block;
  }
  .container .burger {
    display: block;
  }
  .about,
  .sentiment,
  .education_experience,
  .sentiment2,
  .contact-info,
  .social-media {
    margin-right: 0;
    margin-left: 0;
  }
  .column {
    width: 50%;
  }
  /*home blokas */
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
  }
  .home div {
    width: 80%;
    margin: 5% 10%;
  }
  .home div h2 {
    margin: 0 auto;
  }
  .home div p {
    margin: 0 auto;
  }
  /*about me blokas */
  .about_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  /*skills blokas */
  .container .skills_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .container .skills_container .skills_block {
    width: 80%;
  }
  /*education/experience blokas*/
  .education_experience .new h2 {
    text-align: center;
  }
  .education_experience .new .education,
  .education_experience .new .experience {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .education_experience .new .education .education_paragraph,
  .education_experience .new .experience .education_paragraph {
    width: 80%;
  }
  .education_experience .container h2 {
    text-align: center;
  }
  .education_experience .container .experience {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .education_experience .container .experience .experience_paragraph {
    width: 80%;
  }
  /* galery blokas */
  .galery .container .galery-block .photo-carousel .photo {
    width: calc(50% - 20px);
  }
  .galery .container .galery-block .photo-carousel .photo img {
    width: 100%;
  }
  /* contact me blokas */
  .contact-info .container h2 {
    padding-left: 5%;
  }
  .contact-info .container .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .contact-info .container .contact-container .input {
    width: 90%;
  }
}

@media all and (max-width: 600px) {
  /* bendros taisyklės */
  p {
    font-size: 0.875rem;
  }
  /* virsutinis langas su nuotrauka */
  .hello {
    min-height: 100vh;
  }
  /* about me blokas */
  .about .about_container .container {
    padding-top: 5%;
    padding-bottom: 10%;
  }
  .about .about_container .container .about_details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about .about_container .container .about_details .about_column {
    width: 100%;
  }
  /*skills blokas */
  .container .skills_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  /* galery blokas */
  .galery .container {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .galery .container .galery-block .photo-carousel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .galery .container .galery-block .photo-carousel .photo {
    width: 100%;
  }
  .galery .container .galery-block .photo-carousel .photo img {
    width: 100%;
  }
  /*sentiment blokas */
  .sentiment,
  .sentiment2 {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  /* education/experience blokas*/
  .education_experience .container,
  .education_experience .new {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  /* contact me blokas */
  .contact-info {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .contact-info .container h2 {
    padding-left: 5%;
  }
  .contact-info .container .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .contact-info .container .contact-container .input {
    width: 90%;
  }
  .contact-info .container .contact-container .input .contact {
    padding-top: 2%;
  }
}

@media all and (max-width: 400px) {
  /* virsutinis langas su nuotrauka */
  .hello {
    min-height: 100vh;
  }
}

/*# sourceMappingURL=style.css.map */